.p-admin {
    .dropdown-toggle::after {
        color: $success;
    }
    .click {
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
    .click--width {
        width: 48px;
    }
    .modal-img {
        width: 141px;
        height: 141px;
        object-fit: cover;
    }
    .form-control {
        &[readonly] {
            background-color: $gray-100;
        }
    }
    &__hr {
        margin: 1.5rem 0;
    }
    &__table {
        margin-bottom: 63px;
    }
}