.p-assignment-category {
    width: 74px;
}

.assignment__summaryList {
    li {
        padding: 12px;
    }
}

.p-relpy {
    height: 100%;
    width: 95%;
    position: absolute;
    top: 0;
    display: none;
}

.ck-editor__editable {
    min-height: 232px !important;
    max-height: 232px !important;
}