.l-aside {
    min-height: 100vh;
    flex: 0 0 296px;
    background: $light;
    .fixed {
        position: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-item {
        position: relative;
    }
    &__nav-item--active {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            color: $success;
            border-left: 4px solid $success;
        }
    }
}

.l-main {
    width: 100%;
    padding: 2rem;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 3rem;
    margin-bottom: 0;
}