.l-aside {
    min-height: 100vh;
    flex: 0 0 296px;
    background: $light;
    .fixed {
        position: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.l-aside__nav--active {
    color: $success;
    border-left: 4px solid $success;
}

.l-main {
    padding: 2rem;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 3rem;
    margin-bottom: 0;
}