@include list-group-item-variant(gray-100, $gray-100, $black);

@each $key,$value in $font-colors {
    .color-#{$key} {
        color: $value;
    }
}

.x-light-font-size {
    @include font-size(0.75rem);
}

.second-font-family{
    font-family: 'Roboto Mono', sans-serif;
}

.defaul-ul{
    list-style-type: disc;
}