$font-colors:(
  "gray-400":$gray-400,
);

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * .875,
  8: $font-size-base * .75,
);

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
);

$nav-link-padding-x:2rem;
$nav-link-color: black;
$nav-link-hover-color:$success;
$nav-link-font-weight:700;

$form-select-indicator-color: $success;
$form-select-border-color:transparent;
$form-select-font-weight:700;

$card-spacer-y:2rem;